<!-- profile.html -->
<head>
    {{ if .IsMe}}
    <title>Your Profile</title>
    {{else}}
    <title>{{.Data.Username}} Profile</title>
    {{end}}
    <title>Pr</title>
</head>

<body>
    <div class="navbar">
    <a href="">Home</a>
    <a href="/discover">Discover</a>
    <a href="/profile?UserID={{.MyUserID}}">Profile</a>
    </div>

    {{ if .IsMe}}
    <h4>You're looking at your profile, @{{.Data.Username}} <a href="/profile?UserID={{.Data.UserID}}">({{.Data.UserID}})</a></h4>
    <br><br>
    {{end}}

    <div class="userInfo">
        <h2>@{{.Data.Username}}</h2>
        <h3><a href="/profile?UserID={{.Data.UserID}}">({{.Data.UserID}})</a></h3>
        <p><b>{{.Data.Credits}}</b> Tokens</p>
        <span onclick="showFollowers()"><b>{{len .Data.Followers}}</b> Followers&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span onclick="showFollowees()"><b>{{len .Data.Followees}}</b> Following</span>        
        <p>Received <b>{{.Data.ReceivedEndorsements}}</b> Endorsements</p>
        {{ if not .IsMe}}
            {{ if .IFollow}}
            <form action="/profile" method="PUT">
                <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
                <input type="submit" value="Unfollow">
            </form>
            {{else}}
            <form action="/profile" method="POST">
                <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
                <input type="submit" value="Follow">
            </form>
            {{end}}
            {{if .Data.CanBeEndorsed}}
            <form action="/endorse" method="POST">
                <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
                <input type="submit" value="Endorse">
            </form>
            <br>
            {{end}}
            {{ if .ImFollowedBy}}
            <p>..Follows you</p>
            {{else}}
            <p>..Doesn't follow you</p>
            {{end}}
        {{else}}
        <form action="/endorse" method="GET">
            <input type="submit" value="Request Endorsement">
        </form>
        {{end}}
        <div class="followersList">
            {{if ne (len .Data.Followers) 0}}
            <br>
            <h3 onclick="showFollowers()">Followers:</h3>
            {{end}}
            {{range .Data.Followers}}
            <a href="/profile?UserID={{.}}">{{.}}</a>                            
            <br>
            {{end}}
        </div>
        <div class="followeesList">
            {{if ne (len .Data.Followees) 0}}
            <br>
            <h3 onclick="showFollowees()">Following:</h3>
            {{end}}
            {{range .Data.Followees}}
            <a href="/profile?UserID={{.}}">{{.}}</a>                            
            <br>
            {{end}}
        </div>
    </div>

    {{ if .IsMe}}
    <div class="writePostBox">
        <!--Create post..-->
        <p>Publish your thoughts..</p>
        <form action="/post" method="POST">
            <textarea id="Content" name="Content" rows="4" cols="60" required></textarea>
           <!-- <input type="text" id="Content" name="Content" required>-->
            <br>
            <input type="submit" value="Post">
        </form>
        
        <input type="checkbox" id="privMsgCheckbox" onclick="showPrivMsgWriteBox()"><label for="privMsgCheckbox">Private</label>
        <br>
        <div id="privMsgWriteBox" style="display:none">
            <p>Privately..</p>
            <form  action="/postPrivate" method="POST">
                <label for="Content">Content:</label>
                <textarea id="Content" name="Content" rows="4" cols="53" required></textarea>
                <br>
                <label for="Recipients">Recipients list (comma separated):</label>
                <textarea id="Recipients" name="Recipients" rows="2" cols="32" required></textarea>
                <br>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
    {{end}}
    <br>
    <!-- USER POSTS-->
    <div class="postsDiv">
        <h4>@{{.Data.Username}} Posts</h4>
        {{range .Posts}}
            <div class="postDiv">
                <p><b></b><a href="/profile?UserID={{.AuthorID}}">{{.AuthorID}}</a></b> at <a href="/post?PostID={{.ContentID}}">{{(call .TimestampToDate .Timestamp)}}</a></p>
                <p>{{.Text}}</p>
                <table>
                    <tr>
                        <td onclick="showReactions()">{{len .Reactions}} reactions</td>
                        <td onclick="showComments()">{{len .Comments}} comments</td>
                    </tr>
                </table>
                <div class="reactionsDiv">
                    <div class="reactionDiv">
                        <form action="/react" method="POST">
                            <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                            <select name="Reaction" id="Reaction">
                                <option value="" selected disabled hidden>Choose reaction</option>
                                <option value="happy">Happy</option>
                                <option value="angry">Angry</option>
                                <option value="confused">Confused</option>
                                <option value="approve">Approve</option>
                                <option value="disapprove">Disapprove</option>
                            </select>
                            <input type="submit" value="React">
                        </form>
                        <form action="/react" method="DELETE">
                            <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                            <input type="submit" value="Undo">
                        </form>
                    </div>
                    <div class="displayReactionsDiv">
                        <!--Show 1 reaction only..-->
                        {{ if ne (len .Reactions) 0}}
                        <div class="displayReactionDiv">
                            <p><a href="/profile?UserID={{(index .Reaction 0).AuthorID}}">{{(index .Reaction 0).AuthorID}}</a> reacted: {{(index .Reaction 0).ReactionText}}</p>                            
                            <br>
                            <!--Redirect to post's single page-->
                            <a style="text-align: center;" href="/post?PostID={{.ContentID}}"><button>See more</button></a>
                            <br>
                        </div>
                        {{end}}
                    </div>
                </div>
                <div class="commentsDiv">
                    <div class="displayCommentsDiv">
                        <!--Show 1 comment only..-->
                        {{ if ne (len .Comments) 0}}
                        <div class="displayCommentDiv">
                            <p><a href="/profile?UserID={{(index .Comments 0).AuthorID}}">{{(index .Comments 0).AuthorID}}</a> commented: {{(index .Comments 0).Text}} at {{(call .TimestampToDate (index .Comments 0).Timestamp)}}</p>
                            <p>{{len .Reactions}} reactions</p>
                            <form action="/react" method="POST">
                                <input type="hidden" id="PostID" name="PostID" value="{{(index .Comments 0).ContentID}}">
                                <select name="Reaction" id="Reaction">
                                    <option value="" selected disabled hidden>Choose reaction</option>
                                    <option value="happy">Happy</option>
                                    <option value="angry">Angry</option>
                                    <option value="confused">Confused</option>
                                    <option value="approve">Approve</option>
                                    <option value="disapprove">Disapprove</option>
                                </select>
                                <input type="submit" value="React">
                            </form>
                            <form action="/react" method="DELETE">
                                <input type="hidden" id="PostID" name="PostID" value="{{(index .Comments 0).ContentID}}">
                                <input type="submit" value="Undo">
                            </form>
                            <br>
                            <!--Redirect to post's single page-->
                            <a style="text-align: center;" href="/post?PostID={{.ContentID}}"><button>See more</button></a>
                            <br>
                        </div>
                        {{end}}
                    </div>
                    <div class="commentDiv">
                        <!--Post comment..-->
                        <form action="/comment" method="POST">
                            <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                            <input type="text" id="Text" name="Text" required>
                            <input type="submit" value="Comment">
                        </form>
                    </div>
                </div>
            </div>
        <br><br>
        {{end}}
    </div>
</body>
<style>
    .navbar {
    overflow: hidden;
    background-color: #333;
    }
    .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .navbar a:hover {
    background-color: rgb(6, 85, 204);
    }
    .postDiv {
        border: 5px outset rgb(6, 85, 204);
        background-color: rgb(206, 221, 245);
        text-align: left;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .displayCommentsDiv{
        display: none;
        text-align: right;
    }
    .commentsDiv{
        text-align: center;
    }
    .displayCommentDiv {
        border: 5px outset rgb(183, 193, 207);
        background-color: rgb(91, 109, 138);
        text-align: center;
    }
    .displayReactionsDiv{
        display: none;
        text-align: right;
    }
    .reactionsDiv{
        text-align: center;
    }
    .displayCommentReactionsDiv{
        display: none;
        text-align: right;
    }
</style>
<script>
  function showComments() {
    var x = document.getElementsByClassName("displayCommentsDiv");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
}

function showReactions() {
    var x = document.getElementsByClassName("displayReactionsDiv");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
}

function showCommentReactions() {
  var x = document.getElementsByClassName("displayReactionsDiv");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function showFollowers() {
  var x = document.getElementsByClassName("followersList");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function showFollowees() {
  var x = document.getElementsByClassName("followeesList");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function showPrivMsgWriteBox(){
  var checkBox = document.getElementById("privMsgCheckbox");
  var text = document.getElementById("privMsgWriteBox");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>