body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0 auto;
    background: #ededed;
}
div {
    display: block;
}
.main-content {
    width: 80%;
    margin: 0 auto;
}

.content-box {
    background: #fafafa;
    margin: 5px auto;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 7px;
}

.heading {
    margin: 10px 2px 5px 2px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(6, 85, 204);
}

.postDiv {
    border: solid #dedede;
    border-width: 1px 0;
    text-align: left;
    padding: 5px 10px;
}

.postDiv:hover {
    background-color: #fdfdfd;
}

.displayCommentsDiv {
    display: none;
    text-align: right;
}

.commentsDiv {
    text-align: center;
}

.displayCommentDiv {
    border: 5px outset rgb(183, 193, 207);
    background-color: rgb(91, 109, 138);
    text-align: center;
}

.displayReactionsDiv {
    display: none;
    text-align: right;
}

.reactionsDiv {
    text-align: center;
}

.displayCommentReactionsDiv {
    display: none;
    text-align: right;
}