<!-- profile.html -->

{{define "title"}}
{{ if .IsMe}}
Your Profile
{{else}}
{{.Data.Username}} Profile
{{end}}
{{end}}

{{define "heading"}}
{{ if .IsMe}}
You're looking at your profile, {{block "user" .Data}}{{end}}
</a>
{{end}}
{{end}}

{{define "content"}}

<div class="userInfo">
    <h2>{{block "user" .Data}}{{end}}</h2>
    Full ID: {{.Data.UserID}}
    <hr>
    <a href="javascript:;" onclick="showFollowers()"><b>{{len .Data.Followers}}</b> Followers</a>
    <a href="javascript:;" onclick="showFollowees()" style="margin-left:5px"><b>{{len .Data.Followees}}</b> Following</a>
    <div class="followersList commentDiv" style="display:none">
        {{if ne (len .Data.Followers) 0}}
        <b onclick="showFollowers()">Followers:</b><br>
        {{end}}
        {{range .FollowerUsers}}
            {{block "user" .}}{{end}}
        <br>
        {{end}}
    </div>
    <div class="followeesList commentDiv" style="display:none">
        {{if ne (len .Data.Followees) 0}}
        <b onclick="showFollowees()">Following:</b><br>
        {{end}}
        {{range .FolloweeUsers}}
            {{block "user" .}}{{end}}
        <br>
        {{end}}
    </div>
    <p><b>{{.Data.Credits}}</b> Tokens</p>
    <p>Received <b>{{.Data.ReceivedEndorsements}}</b> Endorsements</p>
    {{ if not .IsMe}}
    {{ if .IFollow}}
    <form action="/user" method="POST" class="pure-form">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Unfollow">
    </form>
    {{else}}
    <form action="/user" method="GET" class="pure-form">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Follow">
    </form>
    {{end}}
    {{if .Data.CanBeEndorsed}}
    <form action="/endorse" method="POST" class="pure-form">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Endorse">
    </form>
    {{end}}
    {{ if .ImFollowedBy}}
    <p>Follows you</p>
    {{else}}
    <p>Doesn't follow you</p>
    {{end}}
    {{ if not .IsBlocked}}
    <form action="/block" method="POST" class="pure-form">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Block">
    </form>
    {{else}}
    <form action="/block" method="GET" class="pure-form">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Unblock">
    </form>
    {{end}}
    {{else}}
    <form action="/endorse" method="GET" class="pure-form" style="margin-bottom:10px">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{.Data.UserID}}">
        <input class="pure-button" type="submit" value="Request Endorsement">
    </form>
    {{end}}
</div>

{{ if .IsMe}}
{{block "newpost" .}}{{end}}
{{end}}
<br>
<!-- USER POSTS-->
<div class="postsDiv">
    <h4>({{len .Posts}}) @{{.Data.Username}} Posts </h4>
    {{range .Posts}}
        {{block "post" .}}{{end}}
    {{end}}
</div>
{{end}}