<!-- profile.html -->

{{define "title"}}
{{ if .IsMe}}
Your Profile
{{else}}
{{.MyData.Username}} Profile
{{end}}
{{end}}

{{define "heading"}}
{{ if .IsMe}}
You're looking at your profile, @{{.MyData.Username}} <a
        href="/profile?UserID={{.MyData.UserID}}">
    ({{slice .MyData.UserID 0 8}}...)
</a>
{{end}}
{{end}}

{{define "content"}}

<div class="userInfo">
    <h2>@{{.MyData.Username}}&nbsp;<a href="/profile?UserID={{.MyData.UserID}}">({{slice .MyData.UserID 0 8}}...)</a></h2>
    <span href="javascript:;" onclick="showFollowers()"><b><u>{{len .MyData.Followers}}</u></b> Followers&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span href="javascript:;" onclick="showFollowees()"><b><u>{{len .MyData.Followees}}</u></b> Following</span>
    <p><b>{{.MyData.Credits}}</b> Tokens</p>
    <p>Received <b>{{.MyData.ReceivedEndorsements}}</b> Endorsements</p>
    {{ if not .IsMe}}
    {{ if .IFollow}}
    <form action="/user" method="POST">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.MyData.UserID}}">
        <input type="submit" value="Unfollow">
    </form>
    {{else}}
    <form action="/user" method="GET">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.MyData.UserID}}">
        <input type="submit" value="Follow">
    </form>
    {{end}}
    {{if .MyData.CanBeEndorsed}}
    <form action="/endorse" method="POST">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
        <input type="hidden" id="UserID" name="UserID" value="{{.MyData.UserID}}">
        <input type="submit" value="Endorse">
    </form>
    <br>
    {{end}}
    {{ if .ImFollowedBy}}
    <p>..Follows you</p>
    {{else}}
    <p>..Doesn't follow you</p>
    {{end}}
    {{else}}
    <form action="/endorse" method="GET">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
        <input type="submit" value="Request Endorsement">
    </form>
    {{end}}
    <div class="followersList">
        {{if ne (len .MyData.Followers) 0}}
        <br>
        <h3 onclick="showFollowers()">Followers:</h3>
        {{end}}
        {{range .MyData.Followers}}
        <a href="/profile?UserID={{.}}">{{.}}</a>
        <br>
        {{end}}
    </div>
    <div class="followeesList">
        {{if ne (len .MyData.Followees) 0}}
        <br>
        <h3 onclick="showFollowees()">Following:</h3>
        {{end}}
        {{range .MyData.Followees}}
        <a href="/profile?UserID={{.}}">{{.}}</a>
        <br>
        {{end}}
    </div>
</div>

{{ if .IsMe}}
<br><br>
<div class="writePostBox">
    <!--Create post..-->
    <p>Publish your thoughts..</p>
    <form action="/post" method="POST">
        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
        <textarea id="Content" name="Content" rows="4" cols="60" required></textarea>
        <!-- <input type="text" id="Content" name="Content" required>-->
        <br>
        <input type="submit" value="Post">
    </form>

    <input type="checkbox" id="privMsgCheckbox" onclick="showPrivMsgWriteBox()"><label
        for="privMsgCheckbox">Private</label>
    <br>
    <div id="privMsgWriteBox" style="display:none">
        <p>Privately..</p>
        <form action="/postPrivate" method="POST">
            <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
            <label for="Content">Content:</label>
            <textarea id="Content" name="Content" rows="4" cols="53" required></textarea>
            <br>
            <label for="Recipients">Recipients list (comma separated):</label>
            <textarea id="Recipients" name="Recipients" rows="2" cols="32" required></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
    </div>
</div>
{{end}}
<br>
<!-- USER POSTS-->
<div class="postsDiv">
    <h4>({{len .Posts}}) @{{.MyData.Username}} Posts </h4>
    {{range .Posts}}
    <div class="postDiv">
        <p><b></b><a href="/profile?UserID={{.AuthorID}}">{{.AuthorID}}</a></b> at <a
                href="/post?PostID={{.ContentID}}">{{call $.TimestampToDate .Timestamp}}</a></p>
        <p>{{.Text}}</p>
        <a href="javascript:;" onclick="showComments()">{{len .Comments}} comments</a>
        <a href="javascript:;" onclick="showReactions()" style="margin-left:3px">{{len .Reactions}} reactions</a>
        <div class="reactionDiv" style="display:inline">
            <form action="/react" method="POST" style="display:inline;">
                <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
                <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                <select name="Reaction" id="Reaction">
                    <option value="" selected disabled hidden>Choose reaction</option>
                    <option value="happy">Happy</option>
                    <option value="angry">Angry</option>
                    <option value="confused">Confused</option>
                    <option value="approve">Approve</option>
                    <option value="disapprove">Disapprove</option>
                </select>
                <input type="submit" value="React">
            </form>
            <form action="/react" method="GET" style="display:inline;">
                <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
                <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                <input type="submit" value="Undo">
            </form>
        </div>
        <div class="reactionsDiv">
            <div class="displayReactionsDiv">
                <!--Show all reactions!-->
                {{range .Reactions}}
                <div class="displayReactionDiv">
                    <p><a href="/profile?UserID={{.AuthorID}}">{{.AuthorID}}</a>
                        reacted: {{.ReactionText}}</p>
                    <br>
                </div>
                {{end}}
            </div>
        </div>
        <div class="commentsDiv">
            <div class="displayCommentsDiv">
                <!--Show all comments!-->
                {{range .Comments}}
                <div class="displayCommentDiv">
                    <p><a href="/profile?UserID={{.AuthorID}}">{{.AuthorID}}</a>
                        commented: {{.Text}} at {{call $.TimestampToDate .Timestamp}}</p>
                    <p href="javascript:;" onclick="showCommentReactions()">{{len .Reactions}} reactions</p>
                    <form action="/react" method="POST" style="display:inline;">
                        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
                        <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                        <select name="Reaction" id="Reaction">
                            <option value="" selected disabled hidden>Choose reaction</option>
                            <option value="happy">Happy</option>
                            <option value="angry">Angry</option>
                            <option value="confused">Confused</option>
                            <option value="approve">Approve</option>
                            <option value="disapprove">Disapprove</option>
                        </select>
                        <input type="submit" value="React">
                    </form>
                    <form action="/react" method="GET">
                        <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
                        <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                        <input type="submit" value="Undo">
                    </form>
                    <br>
                    <div class="displayCommentReactionsDiv">
                        <!--Show all reactions to comment!-->
                        {{range .Reactions}}
                        <div class="displayReactionDiv">
                            <p><a href="/profile?UserID={{.AuthorID}}">{{.AuthorID}}</a>
                                reacted: {{.ReactionText}}</p>
                            <br>
                        </div>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
            <div class="commentDiv">
                <!--Post comment..-->
                <form action="/comment" method="POST">
                    <input type="hidden" id="from" name="from" value="/profile?UserID={{$.MyUserID}}">
                    <input type="hidden" id="PostID" name="PostID" value="{{.ContentID}}">
                    <input type="text" id="Text" name="Text" required>
                    <input type="submit" value="Comment">
                </form>
            </div>
        </div>
    </div>
    <br><br>
    {{end}}
</div>
{{end}}